.homeImg {
    background-image: url('../image/picture.jpg');
     background-position: 100%;
        background-size: cover; 
         margin: auto;
        padding: 251px 0;
        text-align: center;
       
        color: #fefae0;
        font-style: italic;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 50px;
        text-shadow: 2px 2px 2px rgb(79, 71, 29);
            height: 100vh;
                width: auto;
                display: block;
                width: 100%;
                  
                    height: auto;
                 
                    display: block;
                    
                    max-width: 100%;
               
                    max-height: 100vh;

};